.buttonOne {
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-border-color:  linear-gradient(to right top, #3c56a6, #4155a5, #4553a4, #4952a3, #4d50a2, #504fa2, #544fa1, #574ea1, #5a4ea1, #5e4ea1, #614da0, #644da0);
    -fx-border-radius: 15px;
}

.buttonTwo {
-fx-background-color: linear-gradient(to right top, #3c56a6,#644da0);
-fx-background-radius: 15px;
}
.shadows{
-fx-effect:dropshadow(gaussian, rgba(100, 77, 160, 0.3), 5, 0.1,1, 1.5);
}

.backgroundColor{
    -fx-background-color: rgba(255,255,255,0.0);
}
* {
   -fx-darkest-grey-color: #323232;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-padding: 1px;
    -fx-border-color:  linear-gradient(to right top, #3c56a6, #4155a5, #4553a4, #4952a3, #4d50a2, #504fa2, #544fa1, #574ea1, #5a4ea1, #5e4ea1, #614da0, #644da0);
    -fx-border-radius: 15px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
        -fx-border-color:  linear-gradient(to right top, #3c56a6, #4155a5, #4553a4, #4952a3, #4d50a2, #504fa2, #544fa1, #574ea1, #5a4ea1, #5e4ea1, #614da0, #644da0);
        -fx-border-radius: 15px;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
        -fx-border-color:  linear-gradient(to right top, #3c56a6, #4155a5, #4553a4, #4952a3, #4d50a2, #504fa2, #544fa1, #574ea1, #5a4ea1, #5e4ea1, #614da0, #644da0);
        -fx-border-radius: 15px;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
        -fx-border-color:  linear-gradient(to right top, #3c56a6, #4155a5, #4553a4, #4952a3, #4d50a2, #504fa2, #544fa1, #574ea1, #5a4ea1, #5e4ea1, #614da0, #644da0);
        -fx-border-radius: 15px;
}
.radio-button -radio:indeterminate {
    -fx-background-color: #7f7f81;
    -fx-background-image: null;
        -fx-border-color:  linear-gradient(to right top, #3c56a6, #4155a5, #4553a4, #4952a3, #4d50a2, #504fa2, #544fa1, #574ea1, #5a4ea1, #5e4ea1, #614da0, #644da0);
        -fx-border-radius: 15px;
}
.radio-button .dot {
    -fx-background-radius: 7px;
    -fx-padding: 6px;
}

.text-area {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-background-radius :10px;
    -fx-border-radius:  10px;
    -fx-border-color: linear-gradient(to right top, #3c56a6, #4155a5, #4553a4, #4952a3, #4d50a2, #504fa2, #544fa1, #574ea1, #5a4ea1, #5e4ea1, #614da0, #644da0);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding:0 10px;

}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.buttonThree {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-background-radius :10px;
    -fx-border-radius:  10px;
    -fx-border-color: linear-gradient(to right top, #3c56a6, #4155a5, #4553a4, #4952a3, #4d50a2, #504fa2, #544fa1, #574ea1, #5a4ea1, #5e4ea1, #614da0, #644da0);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding:0 10px;

}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.buttonFour {
    -fx-background-color: rgba(255,255,255,0);
    -fx-background-radius :10px;
    -fx-border-radius:  10px;
    -fx-border-color: linear-gradient(to right top, #3c56a6, #4155a5, #4553a4, #4952a3, #4d50a2, #504fa2, #544fa1, #574ea1, #5a4ea1, #5e4ea1, #614da0);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding:0 10px;

}

.buttonFive {
    -fx-background-color: rgba(255,255,255,0);
    -fx-background-radius :10px;
    -fx-border-radius:  10px;
    -fx-border-color:  linear-gradient(to right top, #cc2d3a, #d62d39, #e02d37, #e92d35, #f32d32, #f73738, #fb3f3e, #ff4744, #ff5653, #ff6462, #ff7170, #ff7e7e);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding:0 10px;

}

